:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}
* {
  margin: 10px;
  padding: 0;
  /* box-sizing: border-box; */
}
.siteheader {
  font-weight: bold;
}
.home{
  margin: 10px;
}
.card {
  margin-bottom: 20px
}

.link:hover {
  color: yellow;
  /* border-color: yellow; */
}
.container {
  display: flex;
  justify-content: center;
  border-style: solid;
  
}
.displaybox {
  width: 90%;
}
.cardholder {
  max-width: 100%;
}
.svg-container {
  max-width: 100%;
  height: auto;
}
.resultsbox {
  color: black;
}

/* Media Queries */
@media (max-width: 760px) {
  .displaybox {
    width: 100%;
  }

  }
  