:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  line-height: 1.5;
  font-weight: 400;
  --blue: #6CD9FF;
  --pink: rgb(247, 112, 159);
  --green: rgb(93, 234, 145);
    
}
* {
  margin: 0;
  padding: 0;
  
  /* box-sizing: border-box; */
}
.siteheader {
  font-weight: bold;
}
.home{
  margin: 10px;

}
.card {
  margin-bottom: 20px
}

.link:hover {
  color: yellow;
  /* border-color: yellow; */
}

.backbutton {
  font-size: 18px;
  padding-left: 10px;
  margin: 3px;
  margin-bottom: 3%;
  text-align: center;
  
}
.innerbutton {
  padding: 3px;
  /* font-family: 'Meow Script'; */
  border: solid var(--green);
  background-color: var(--pink);
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  border-style: solid;
  padding-top: 5%; 
}


.language {
  align-items: center;
}
.displaybox {
  width: 100%;
}
.cardholder {
  max-width: 100%;
}
.svg-container {
  max-width: 100%;
  height: auto;
}
.resultsbox {
  color: black;
  margin-bottom: 10%;
}

/* Media Queries */
@media (max-width: 760px) {
  .displaybox {
    width: 100%;
  }
  .container {
    display: block;
  }
  * {
    margin: 0;
  }
.chatbutton {
  display: flex;
}
  }
  