.footer {
    background: var(--melon);
    position: fixed;
    bottom: 0;
    padding: 5px;
    width: 100%;
    margin: auto;
}
.container {
    display: flex;
    justify-content: center;
    
}

.content {
    justify-content:center;
}