:root {
--blue: #6CD9FF;
}
.header{
background-color: var(--blue);
width: 100%;
}
.headerlogo {
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
}

@media (min-width: 760px) {
    .home {
        text-align: left;
    }
  
    }